/* ===================== Page Styling ==================== */
html {
    display: block;
    background-color: #fff;

}
body {
    margin: 40px auto;/* used to have 40px auto and removed auto bc causes changes when multiple p elements*/
    /* width: 100%; */
    max-width: 750px;
    padding: 0 10px;
    font: 1.2rem Arial, sans-serif;
    letter-spacing: 0.25px;
    color: #000;
    /* text-transform: lowercase; */
}

/* ===================== SVG ==================== */
svg {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}



/* ===================== Superscript ==================== */
sup {
  font-size: 0.9rem;
  vertical-align: super;
}
sup a {
    text-decoration: none;
}
/* ===================== Header Image ==================== */
img#lofi-me {
  margin: 1rem auto;
  display: block;
}
/* ===================== Navigation Bar ==================== */
.nav {
  display: flex;
  justify-content: center;
  align-items: center;

}
@media (max-width: 350px) {
  .nav-item {display: block !important; width: 100%;}
  .nav-item a{padding: 4px 60% 4px 40%;}
  .main a, .nav a {line-height: 1.5;}
  .main {margin-top: 2rem;}
}
/* Navigation bar menu item styling */
div.nav-item {
  display: inline-block;
  font-size: 24px;
  margin: 0 1px;
}

/* Nav bar links are BOXED */
.nav-item a{
  color: inherit;
  text-decoration: none;
  border: 1px solid black;
  padding: 3px 6px;
}
.nav-item a:hover {
  background-color: #000;
  color: #ffffff;
}
/* Current nav bar item ID */
.nav-item #current {
  color: #fff;
  background-color: #000;
}

/* ===================== Main section  ==================== */
/* Main section in body */
div.main {
  margin-top: 3rem;
  line-height: 1.5;
}
/* ===================== Hyperlinks ==================== */
div.main a {
  color: black;
  text-underline-position: under;
}

div.main a:hover {
  color: #914a63;
}
/* ===================== unordered lists ==================== */
ul {
  margin: 0;
}

/* ===================== Thoughts - H2 ==================== */
p.blog-h2 {
  color: #95a5a6;
  margin-bottom: 0;
  font-weight: bold;
}

p.blog {
  margin-top: 0;
  /* margin-bottom: 0; */
}
ol.blog, ul.blog {
  margin-top: 0;
}

/* ===================== "Library" unordered lists ==================== */
ul.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.list a:visited {
 color: #c2ab78;
}

ul.list a:visited:hover {
  color: #914a63
}

/* ===================== Text Decorations ==================== */
/* Bold */
span.strong {
 font-weight: bold;
}

span.italicize {
  font-style: italic;
}

/* Highlighter */
span.hello {
   font-weight: bold;
   color: #000;
   background-color: #FFDC74;
 }
 /* Highlight or text selection color */
 p::selection {
   background-color: #FFDC74;
 }
 p::-moz-selection {
   background-color: #FFDC74;
 }

 span::selection {
   background-color: #FFDC74;
 }
 span::-moz-selection {
   background-color: #FFDC74;
 }

 a::selection {
   background-color: #914a63;
   color: #fff;
 }
 a::-moz-selection {
   background-color: #914a63;
   color: #fff;
 }

 li::selection {
   background-color: #FFDC74;
 }

 li::-moz-selection {
   background-color: #FFDC74;
 }

 div.center {
  width: 100%; /* Or a specific width, like 80% */
  text-align: center; /* This ensures the img will be centered if it's inline-block */
}

 img.center {
   margin: 0 auto;
   display: block;
 }

 span.emoji {
   padding-right: 5px;
 }

/* Footer */
footer {
  position: fixed;        /* Fix the footer at the bottom of the viewport */
  bottom: 0;              /* Stick it to the bottom of the page */
  left: 0;                /* Align it to the left edge */
  width: 100%;            /* Full width */
  text-align: center;     /* Center the content inside */
  background: #fff;       /* White background */
  color: #333;            /* Text color */
  line-height: 30px;      /* Vertically align text */
  font-size: 10px;        /* Adjust font size for better desktop view */
  padding: 0;             /* No padding */
  margin: 0;              /* No margin */
  letter-spacing: 0.25px;
}

@media (max-width: 768px) {
  footer {
    font-size: 0.5rem;    /* Adjust font size for smaller screens */
    line-height: 30px;     /* Ensure vertical centering on mobile */

  }
}

/* ===================== Webring code textarea ==================== */
#webring-button {
  padding: 3px 2px;
}

p.top-caption {
  margin: 0px;
  padding: 0px;
}
